<form class="form-horizontal" role="form">
  <h1>Create a Challenge</h1>
  <br>
  <div class="form-group">
    <label for="inputEmail1" class="col-lg-2 control-label">Title</label>
    <div class="col-lg-10">
      <input type="text" class="form-control" id="" placeholder="Title">
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail1" class="col-lg-2 control-label">Description</label>
    <div class="col-lg-10">
      <input type="text" class="form-control" id="" placeholder="Description">
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail1" class="col-lg-2 control-label">Start Date</label>
    <div class="col-lg-10">
      <input type="date" class="form-control" id="" placeholder="Start Date">
      <br>
      <input type="time" class="form-control" id="" placeholder="Time">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword1" class="col-lg-2 control-label">End Date</label>
    <div class="col-lg-10">
      <input type="date" class="form-control" id="" placeholder="Start Date">
      <br>
      <input type="time" class="form-control" id="" placeholder="Time">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword1" class="col-lg-2 control-label">Number of Milestones</label>
    <div class="col-lg-10">
      <input type="text" maxlength="1" ng-model="nmilestones" class="form-control" id="" placeholder="Number of Milestones">
    </div>
  </div>
  <div class="form-group" ng-repeat="count in _.range(0,nmilestones)">
    <label for="inputPassword1" class="col-lg-2 control-label">Milestone {{$index + 1}}</label>
    <div class="col-lg-10">
      <input type="text" class="form-control" id="" placeholder="Title">
      <br>
      <input type="text" class="form-control" id="" placeholder="Description">
      <br>
      <input type="date" class="form-control" id="" placeholder="Start Date">
      <br>
      <input type="time" class="form-control" id="" placeholder="Time">
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <button type="submit" class="btn btn-default">Create</button>
    </div>
  </div>
</form>