<form class="form-horizontal" role="form">
  <h1>Create a Challenge</h1>
  <br>
  <div class="form-group">
    <label for="inputEmail1" class="col-lg-2 control-label">Start Date</label>
    <div class="col-lg-10">
      <input type="date" class="form-control" id="" placeholder="Start Date">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword1" class="col-lg-2 control-label">End Date</label>
    <div class="col-lg-10">
      <input type="date" class="form-control" id="" placeholder="Start Date">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword1" class="col-lg-2 control-label">Number of Milestones</label>
    <div class="col-lg-10">
      <input type="number" ng-model="nmilestones" class="form-control" id="" placeholder="Number of Milestones">
    </div>
  </div>
  <div class="form-group" ng-repeat="count in _.range(0,6)">
    <label for="inputPassword1" class="col-lg-2 control-label">Milestones</label>
    <div class="col-lg-10">
      <input type="number" class="form-control" id="" placeholder="Number of Milestones">
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <button type="submit" class="btn btn-default">Create</button>
    </div>
  </div>
</form>