<br><br>
<form class="form-horizontal" role="form">
  <div class="form-group">
  	<label><i>Tweet a Status Update...</i></label>
  	<textarea ng-model="status" type="date" class="form-control" id="" placeholder="I really like cats..." maxlength="120"></textarea>
  	<label class="pull-right"> {{status.length}} / 120</label>
  	<div class="clearfix"></div>
  	<a href="" class="btn btn-sm btn-primary">Tweet Status Update</a>
  </div>
</form>
<br><br>
<div class="row featurette">
	<div class="col-md-2">
		<img class="img-circle" src="images/cat.jpeg" data-src="holder.js/140x140" class="col-md-5" alt="140x140" style="width: 140px; height: 140px;">
	</div>
	<div class="col-md-7">
	  <h2 class="featurette-heading"><span class="text-muted">Milestone 1.</span> And lastly, this one. </h2>
	  <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
	</div>
</div>

<br><hr class="featurette-divider"><br><br>

<div class="row featurette">
	<div class="col-md-2">
		<img class="img-circle" src="images/cat.jpeg" data-src="holder.js/140x140" class="col-md-5" alt="140x140" style="width: 140px; height: 140px;">
	</div>
	<div class="col-md-7">
	  <h2 class="featurette-heading"><span class="text-muted">Milestone 2.</span> And lastly, this one. </h2>
	  <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
	</div>
	
</div>
