<br><br>
<header>
  <div class="col-lg-2 control-label">
    <img class="img-circle" src="images/cat.jpeg" data-src="holder.js/100x100" class="col-md-5" alt="100x100" style="width: 100px; height: 100px;"><br><br><br>
  </div>
  <p class="col-lg-10">
    <br>
    We promote the Makeshift philosophy of learning through collaborative experiments that expand our creative portfolio as individuals and as a collective. Together, we help each other shine. Our goal as the Makeshift Collective is to inspire, motivate, and challenge others to be creative; to try something different, meet new people, and learn something new. Somewhere in between sleep, work, school, and life, we make it happen. We make magic happen.
    <br><br><br>
  </p>
</header>
<form class="form-horizontal" role="form">
  <div class="form-group">
    <label for="inputEmail1" class="col-lg-2 control-label">Title</label>
    <div class="col-lg-10">
      <input type="text" class="form-control" id="" placeholder="Title" ng-model="project.title">
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail1" class="col-lg-2 control-label">Description</label>
    <div class="col-lg-10">
      <input type="text" class="form-control" id="" placeholder="Description" ng-model="project.description">
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail1" class="col-lg-2 control-label">Start Date</label>
    <div class="col-lg-10">
      <input type="date" class="form-control" id="" placeholder="Start Date">
      <br>
      <input type="time" class="form-control" id="" placeholder="Time" ng-model="project.startDate">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword1" class="col-lg-2 control-label">End Date</label>
    <div class="col-lg-10">
      <input type="date" class="form-control" id="" placeholder="Start Date">
      <br>
      <input type="time" class="form-control" id="" placeholder="Time" ng-model="project.endDate">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword1" class="col-lg-2 control-label">Number of Milestones</label>
    <div class="col-lg-10">
      <input type="text" maxlength="1" class="form-control" id="" placeholder="Number of Milestones" ng-model="project.nmilestones">
    </div>
  </div>
  <div class="form-group" ng-repeat="obj in getMilestones()">
    <label for="inputPassword1" class="col-lg-2 control-label">Milestone {{$index + 1}}</label>
    <div class="col-lg-10">
      <input type="text" class="form-control" id="" placeholder="Title" ng-model="obj.title">
      <br>
      <input type="text" class="form-control" id="" placeholder="Description" ng-model="project.milestones[$index].description">
      <br>
      <input type="date" class="form-control" id="" placeholder="Start Date" ng-model="project.milestones[$index].startDate">
      <br>
      <input type="time" class="form-control" id="" placeholder="Time" ng-model="project.milestones[$index].time">
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <button class="btn btn-primary" ng-click="save()">Create Challenge</button>
    </div>
  </div>
</form>