<form class="form-horizontal" role="form">
  <div class="form-group">
    <h2 for="inputEmail1" class="">Share Challenge</h2>
	<label>Share Link</label>
  	<input type="text" class="form-control" id="" value="wemakeshift.com/#/user/1/project/1/" maxlength="120">
  	<label class="pull-right"> {{status.length}} / 120</label>
  	<br><br>
  	<a href="" class="btn btn-sm btn-primary pull-right">Share</a>
</form>
<div class="row featurette">
	<div class="col-md-2">
		<img class="img-circle" src="images/cat.jpeg" data-src="holder.js/140x140" class="col-md-5" alt="140x140" style="width: 140px; height: 140px;">
	</div>
	<div class="col-md-7">
	  <h2 class="featurette-heading"><span class="text-muted">Milestone 1.</span> And lastly, this one. </h2>
	  <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
	</div>
</div>

<br><hr class="featurette-divider"><br><br>

<div class="row featurette">
	<div class="col-md-2">
		<img class="img-circle" src="images/cat.jpeg" data-src="holder.js/140x140" class="col-md-5" alt="140x140" style="width: 140px; height: 140px;">
	</div>
	<div class="col-md-7">
	  <h2 class="featurette-heading"><span class="text-muted">Milestone 2.</span> And lastly, this one. </h2>
	  <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
	</div>
	
</div>
